/* print overrides */
@media print {
	.functions {
		display:none;
	}
}

/* Bottom functions */
.functions {
	width:100%;
	text-align:center;
	margin-top:40px;
}

.print {
	margin-top:10px;
	margin-right:10px;
	display: block;
	border:1px solid #AAAAAA;
	width:50px;
	float:right;
}

/* Top Menu Bar */
.topbar div span.logout{
	float: right;
	text-align: right;
	display: block;
}
.topbar div span.logout a{
	display: block;
    line-height: 19px;
    padding: 10px 10px 11px;
    text-decoration: none;
}

/* Main content styling */
div.content
{
	margin-top: 100px;
}

a.large{
  font-weight: bold;
  font-size: 16px;
  width: 250px;
  text-align: center;
}
div.clear25{
  clear: both;
  height: 25px;
}

/* CRUD Listing styling */
.CrudTitle{
	width: 500px;
	float: left;
}
#crudListSearch{
	width: 400px;
	float: right;
}
div.crudField {
	margin-top: 10px;
}
span.duty {
	margin-top: 10px;
}
span.crudHelp{
	font-style: italic;
	font-size: 12px;
}

/* staff edit */
ul.unstyled li
{
	margin: 0 0 3px 10px;
}