#{extends 'main.html' /}
#{set title:messages.get('crud.users.list.title', type.modelName) /}

<div id="crudList" class="${type.name}">
	
	<div class="CrudTitle">
    	<h2 id="crudListTitle">&{'crud.users.list.title', type.name}</h2>
	</div>
    <div id="crudListSearch">
        #{crud.search /}
    </div>
	<div style="clear:both;"></div>
	<p id="crudListAdd" style="float: right;">
        <a href="@{blank()}">&{'crud.users.staff.add', type.modelName}</a>
        <br/>
        <a href="@{blankAdmin()}">&{'crud.users.admin.add', type.modelName}</a>
    </p>
    <div id="crudListTable">
      #{crud.table fields:['Email', 'Name', 'Admin']}
		    #{crud.custom 'Email'}
		      #{if object.isAdmin}
		        <a href="@{Users.showAdmin(object.id)}">
		          ${object.email}
		        </a>
	        #{/if}
	        #{else}
	          <a href="@{Users.show(object.id)}">
		          ${object.email}
		        </a>
	        #{/else}
		     #{/crud.custom}
		     #{crud.custom 'Name'}
		       ${object.firstName + " " + object.lastName}
		     #{/crud.custom}
		     #{crud.custom 'Admin'}
		       ${object.isAdmin.yesno('yes', 'no')}
		     #{/crud.custom}
		#{/crud.table}
    </div>

    <div id="crudListPagination">
        #{crud.pagination /}
    </div>

    

</div>
