#{extends 'main.html' /}
#{set title:messages.get('crud.users.show.title', type.modelName) /}

<div id="crudShow" class="${type.name}">
	<div class="CrudTitle">
    	<h2 id="crudShowTitle">&{'crud.users.show.title', type.modelName}</h2>
    </div>	
    #{form @delete(object._key())}
        <p class="crudDelete">
            <input type="submit" value="&{'crud.users.delete', type.modelName}" />
        </p>
    #{/form}
	<div style="clear:both;"></div>
    <div class="objectForm">
    #{form action:@save(object._key()), enctype:'multipart/form-data'}
        #{crud.form}
		    #{crud.custom 'duties'}
	        <label for="duties">
	            &{'duties'}
	        </label>
	        <ul class="tabs" data-tabs="tabs" >
            #{list items:models.DutyCategory.findAll(), as:'dutyCategory'}
		           <li class="${dutyCategory_isFirst ?'':'active' }"><a href="#${dutyCategory}">${dutyCategory}</a></li>
		        #{/list}
          </ul>
	        <div id="my-tab-content" class="tab-content">
	          #{list items:models.DutyCategory.findAll(), as:'dutyCategory'}
	            <div class="${dutyCategory_isFirst ?'':'active' }" id="${dutyCategory.Name}">
	              ${dutyCategory.Name}
              </div>
            #{/list}
          </div>
			    <div style="clear:both;"></div>
		    #{/crud.custom}
		#{/crud.form}
        <p class="crudButtons">
            <input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
            <input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
        </p>
    #{/form}
    </div>
</div>
<script type="text/javascript" language="javascript" charset="utf-8">
// <![CDATA[
  $.ready(function(){
    $("")
  })
// ]]>
</script>
