#{extends 'main.html' /}
#{set title:messages.get('crud.users.show.title', type.modelName) /}

<div id="crudShow" class="${type.name}">
	<div class="CrudTitle">
    	<h2 id="crudShowTitle">&{'crud.users.show.title', type.modelName}</h2>
    </div>	
    #{form @delete(object._key())}
        <p class="crudDelete">
            <input type="submit" value="&{'crud.users.delete', type.modelName}" />
        </p>
    #{/form}
	<div style="clear:both;"></div>
    <div class="objectForm">
    #{form action:@save(object._key()), enctype:'multipart/form-data'}
        #{crud.form}
		    #{crud.custom 'duties'}
	        <label for="duties">
	            &{'duties'}
	        </label>
	        <div style="margin-left:130px;width:500px;">
	          <ul class="tabs" data-tabs="tabs" >
              #{list items:models.DutyCategory.findAll(), as:'dutyCategory'}
		             <li class="${dutyCategory_isFirst ?'active':'' }"><a href="#${dutyCategory.name}">${dutyCategory.name}</a></li>
	          #{/list}
            </ul>
	          <div id="my-tab-content" class="tab-content">
	            #{list items:models.DutyCategory.findAll(), as:'dutyCategory'}
	              <div class="${dutyCategory_isFirst ?'active':'' }" id="${dutyCategory.name}">
	                <ul>
                    #{list items:models.DutyCategory.getDutys(dutyCategory.id), as:'duty'}
                      <li><input type="checkbox" name="${duty.name}" />${duty.name}test</li>
	                  #{/list} 
	                </ul>
                </div>
              #{/list}
            </div>
          </div>
			    <div style="clear:both;"></div>
		    #{/crud.custom}
		#{/crud.form}
		<div style="clear:both;"></div>
    <p class="crudButtons">
        <input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
        <input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
    </p>
    #{/form}
    </div>
</div>
#{script src:'bootstrap-tabs.js', charset:'utf-8' /}
<script type="text/javascript" language="javascript" charset="utf-8">
// <![CDATA[
  $.ready(function(){
    $("")
  })
// ]]>
</script>
