#{extends 'main.html' /}
#{set title:messages.get('crud.list.title', type.name) /}

<div id="crudList" class="${type.name}">

    <h2 id="crudListTitle">&{category + " - Times" }</h2>

    <p id="crudListAdd" style="float: right;">
        <a href="@{blank(category)}">Add Times &raquo;</a>
    </p>

    <div id="crudListTable">
        #{crud.table fields:['Duty', 'Time', 'Date'] }
          #{crud.custom 'Duty'}
            <a href="@{Times.show(category, object._key())}">
		          ${ object.Duty.Name }
		        </a>
          #{/crud.custom}
          #{crud.custom 'Time'}
            ${ object.toString() }
          #{/crud.custom}
          #{crud.custom 'Date'}
            ${ object.getDate() }
          #{/crud.custom}
        #{/crud.table }
    </div>
    
</div>
