#{extends 'main.html' /}
#{set title:messages.get('crud.dutys.list.title', type.name) /}

<div id="crudList" class="${type.name}">
	<div class="CrudTitle">
    	<h2 id="crudListTitle">&{'crud.dutys.list.title', type.name}</h2>
	</div>
    <div id="crudListSearch">
        #{crud.search /}
    </div>
	<div style="clear:both;"></div>
	<p id="crudListAdd" style="float: right;">
        <a href="@{blank()}">&{'crud.dutys.add', type.modelName}</a>
    </p>
    <div id="crudListTable">
        #{crud.table fields:['Name']}
		 #{crud.custom 'Name'}
		  <a href="@{Dutys.show(object.id)}">
		   ${object.name}
		  </a>
		 #{/crud.custom}
		#{/crud.table}
    </div>
    <div id="crudListPagination">
        #{crud.pagination /}
    </div>

</div>
