#{extends 'main.html' /}
#{set title:messages.get('crud.dutys.show.title', type.modelName) /}

<div id="crudShow" class="${type.name}">
	<div class="CrudTitle">
    	<h2 id="crudShowTitle">&{'crud.dutys.show.title', type.modelName}</h2>
    </div>
	#{form @delete(object._key())}
        <p class="crudDelete">
            <input type="submit" value="&{'crud.delete', type.modelName}" />
        </p>
    #{/form}
    <div style="clear:both;"></div>
    <div class="objectForm">
    #{form action:@save(object._key()), enctype:'multipart/form-data'}
        #{crud.form }
        #{/crud.form}
        <br/>
        <br/>
        <p class="crudButtons">
            <input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
            <input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
        </p>
    #{/form}
    </div>
</div>
