#{extends 'main.html' /}
#{set title:'EMS - Dashboard' /}

<section id="about">
  <div class="row">
    <div class="span-one-third columns" style="text-align:center;">
        <a href="@{Times.list('Administration')}" class="btn primary large"> 
          Manage Administration Times</a> 
    </div>
    <div class="span-one-third columns" >
        <a href="@{Times.list('Research')}" class="btn primary large" >
          Manage Research Times</a>
    </div>
    <div class="span-one-third columns" >
        <a href="@{Times.list('Teaching')}" class="btn primary large" >
          Manage Teaching Times</a>
    </div>
  </div>
  <div class="clear25">
  </div>
  <div class="page-header">
      <h1>Dashboard</h1>
  </div>
  <div class="row" style="text-align:center; ">
      <image src="@{'/public/images/times.png'}" height="500px"/>
  </div>
</section>
